{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="title">Welcome, {{name}}!</h1>
  <a href="{{ url_for('register') }}">Register new users</a>
  <a href="{{ url_for('new_customer') }}">Enter new customers</a>
</div>

{% for cus in current_list_customers %}
  <div>
    <li>{{cus.csutomer_name}}</li>
    <li>{{cus.measurements_taken}}</li>
    <li>{{cus.address}}</li>
    <li>{{cus.phone_number}}</li>
    <li>{{cus.email}}</li>
  </div>
  

{% endfor %}

{% endblock %}


